.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.3rem 3rem;
        display: inline-block;
        border-radius: 8rem;
        transition: all .4s ease-in-out;
        position: relative;
        font-size: 1.6rem;

        //Change for the <button> element
        border: none;
        cursor: pointer;
    }

    &--white{
        background-color: var(--color-white);
        color: var( --color-grey-dark-1);
    }

    &--primary{
        background-color: var(--color-primary);
        color: var( --color-white);
    }
    &--secondary{
        background-color: $color-secondary-light;
        color: var( --color-white);
    }
    &--tertiary{
        background-color: $color-tertiary-light;
        color: var( --color-white);
    }

    &:hover{
        border-radius: 0;
        box-shadow: 0 .6rem 1.2rem rgba($color-black,.3);
    }

    &:active,
    &:focus {
        outline: none;
        border-radius: 0;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black,.2);
        font-size: 1.7rem;
    }

    &--animated{
        animation-name: moveInRight;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }
    
}

.recipe-box{
    
    flex: 1;
    border-radius: 0.2rem;
    margin: 0 3.3rem;
    box-shadow: var(--shadow-light);
    position: relative;
    transition: transform .3s;

    @media only screen and (max-width:$bp-medium) {
        margin:0 2.2rem;
     }

     @media only screen and (max-width:$bp-small) {
        width: 42rem;
        margin: 2rem auto;
     }

     @media only screen and (max-width:$bp-smallest) {
        width: 36rem;
        margin: 2rem auto;
    }

    &__picture{
        background-size: cover;
       
        height: 23rem;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        
        &--1 {
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), 
            url(../img/snacks.jpeg);
        }

        &--2 {
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), 
            url(../img/desserts.jpeg);
        }

        &--3 {
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), 
            url(../img/drinks.jpeg);
        }
    }

    &__text{
       
        padding: 0.5rem 0.8rem;
        position: absolute;
        top:36%;
        right:10%;

        p{
            font-size: 2.2rem;
            text-align: justify;
            color: var(--color-white);
        }

        
        &--1 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-secondary-light, .85), 
            rgba($color-secondary-dark, .85));
        }

        &--2 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-primary-light, .85), 
            rgba($color-primary-dark, .85));
        }

        &--3 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-tertiary-light, .85), 
            rgba($color-tertiary-dark, .85));
        }
    }

    &__bottom{
        text-align: center;
        margin: 1.5rem 0 3rem 0;
        
            ul{
                list-style: none;
                width: 50%;
                margin: 0 auto;
    
                li {
                    text-align: center;
                    font-size: 1.5rem;
                    padding: 0.8rem;
    
                    &:not(:last-child) {
                        border-bottom: 1px solid var(--color-grey-light-3);
                    }
                }
            }

    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }

}

.composition {

    margin: 6.5rem 0;
    padding: 3rem;
    display: flex;
    justify-content: center;

    @media only screen and (max-width:$bp-small) {
       flex-wrap: wrap;
       margin: 0;
    }
    
    &__photo {
        width:28rem;
        height: 25rem;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 2px;
        transition: all .2s;
        outline-offset: 1rem;
        opacity: 0.9;

        &:not(:first-child) {
            margin-left: -4rem;

            @media only screen and (max-width:$bp-medium) {
               margin-left: -5rem;
            }

            @media only screen and (max-width:$bp-small) {
                margin: 0;
             }
        }

        @media only screen and (max-width:$bp-large) {
            width:26rem;
            height: 24rem;
        }

        @media only screen and (max-width:$bp-medium) {
            width:25rem;
            height: 23rem;
        }

        
        @media only screen and (max-width:$bp-small) {
            width:21rem;
            height: 19rem;
        }

        @media only screen and (max-width:$bp-smallest) {
            width:19rem;
            height: 18rem;
        }

       
        &--1 {
            transform: translateY(2rem);
            @media only screen and (max-width:$bp-small) {
                transform: translateX(2rem);
            }
        }

        &--2 {
            transform: translateY(-1rem);
        }
        &--3 {
            transform: translateY(2rem);
            @media only screen and (max-width:$bp-small) {
                transform: translateX(2rem);
                z-index: 10;
            }
        }
        &--4 {
            transform: translateY(-1rem);
        }


        &:hover {
            
            opacity: 1;
            outline: 1.5rem solid $color-primary;
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            
            z-index: 20;
        }  
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: 2rem;
        font-weight: 300;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .2s;
    }

    &:hover {
        background-color: $color-primary;
        color: var(--color-white);
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
}

.features{
    display: flex;
   justify-content: space-evenly;

   @media only screen and (max-width:$bp-medium) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.feature-box {
    background-color: rgba($color-white, .8);
    width: 25rem;
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    transition: transform .3s;

    
    &:not(:last-of-type) {
        @media only screen and (max-width:$bp-medium) {
           margin-bottom: 2rem;
        }
        
    }

    @media only screen and (max-width:$bp-large) {
        width: 23rem;
        font-size: 1.4rem;
        padding: 2.3rem;
    }

    @media only screen and (max-width:$bp-medium) {
        width: 38rem;
        font-size: 1.4rem;
        padding: 2rem;
    }
   

    &__icon {
        height: 6rem;
        width: 6rem;
        margin: 2rem 0;
        fill: var(--color-primary);
        @media only screen and (max-width:$bp-medium) {
            margin: 1.5rem;
         }
    }

    &__heading{

        font-size: 1.8rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        margin-bottom: 1.2rem;

        @media only screen and (max-width:$bp-medium) {
            margin-bottom: 1rem;

         }

    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }
}


.footer {
    background-color: var(--color-grey-dark-1);
    padding: 8rem 0 0 0;
    font-size: 1.7rem;
    color: var(--color-grey-light-1);
    min-height: 35rem;

    &__logo-box {
        text-align: center;
        margin-bottom: 2rem;  
    }

    &__logo {
        width: 15rem;
        height: auto;
    }

    &__part{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    &__navigation {
        border-top: 1px solid var(--color-grey-dark-3);
        padding-top: 1.8rem;
        margin: 2rem;
        display: inline-block; 
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__link {
        &:link,
        &:visited {
            color: var(--color-grey-light-3);
            background-color: var(--color-grey-dark-1);
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
        }

        &:hover,
        &:active {
            color: var(--color-primary);
            box-shadow: 0 1rem 2rem rgba($color-black, .4);
            transform: rotate(5deg) scale(1.3);
        }
    }

    &__copyright{
        text-align: center;

        @media only screen and (max-width:$bp-small) {
            padding:0 2rem 2rem 2rem;
         }
    }

   
}