.container{
   margin: 3rem;
    box-shadow: var(--shadow-light);
    
    @media only screen and (max-width:$bp-largest) {
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
}

.header{
    height: 80vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
    url(../img/back2.jpeg);
   
    background-size: cover;
    background-position: top;
    position: relative;

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 74vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 74vh, 0 100%);
        height: 88vh;
    }

    
    @media only screen and (max-width:$bp-small) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
        height: 88vh;
    }

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 4rem;
    }
    
    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

.food-section{
    background-color: var(--color-grey-light-1);
    padding: 15rem 0;
    margin-top: -20vh;


    &--button{
        margin: 8rem auto 4rem auto;
        text-align: center;
    }

    @media only screen and (max-width:$bp-medium) {
        padding: 10rem 0 15rem 0;
        margin-top: -10vh;
    }
}

.recipe-section{
    background-color: var(--color-grey-light-1);
    padding: 10rem 0 6rem 0;
   

    &--body{
        display: flex;

        @media only screen and (max-width:$bp-small) {
            flex-direction: column;
         }
    }
   
    &--button{
        margin: 7rem auto;
        text-align: center;
    }

}


.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
    url(../img/back1.jpeg);
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -10rem;

    @media only screen and (max-width:$bp-large) {
        padding: 15rem 0;
    }
    
    @media only screen and (max-width:$bp-medium) {
        padding: 10rem 0;
    }
   

    & > * {
        transform: skewY(7deg);
    }


}
